TELEGRAM_BOT_TOKEN=<your-telegram-bot-api-key>
OPENAI_API_KEY=<your-openai-api-key>
# Allowed users should be separated by comma.
# Example: "[1234,3221]"
# Find your ID is possible via the Telegram bot @myidbot
ALLOWED_USER_IDS = "<list-of-allowed-users>"
